@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 45%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 72% 51%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
    --radius: 0.5rem;
  }

  .font-body {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
  }

  .font-heading {
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    font-weight: bold;
  }

  * {
    @apply border-border;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-background text-foreground;
    box-sizing: border-box;
    overflow-x: hidden;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-heading;
  }

  @keyframes slide-in {
    0% {
      transform: translateX(-10px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

  .hover-slide-in {
    display: inline-block;
    position: relative;
    transition: all 0.8s ease-in-out;
  }

  .hover-slide-in:hover {
    animation: slide-in 0.8s forwards ease-in-out;
  }

  .glassmorphic {
  background-color: rgba(37, 35, 35, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.glassmorphic ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.glassmorphic li {
  padding: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.glassmorphic li:last-child {
  border-bottom: none;
}

.glassmorphic a {
  text-decoration: none;
  color: #333;
}

.glassmorphic a:hover {
  color: #666;
}

  /* Hide MobileNav component in desktop and tablet views */
@media (min-width: 768px) {
  .mobile-nav {
    display: none;
  }
}

}
